.container{
    width: 50%;
    margin: auto;
    background-color: #7b1741f0;
    border-radius: 20px;
    margin-top: 20px;
    font-family: 'Work Sans', sans-serif;
}

.content{
    padding: 20px;
    text-align: center;
}

.content h1{
    color: white;
    font-size: 40px;
}
.content h2 span{
    font-size: 30px;
}
span{
    color: white;
    font-size: 25px;
}

